[enrollment]
url = "{{ demo_enrollment_url | default('https://updatec-gateway') }}"
client_cert = "/etc/updated/agent-tls/tls.crt"
client_key = "/etc/updated/agent-tls/tls.key"
ca = "/etc/updated/agent-tls/ca.crt"
